<header>
    <%- include('./social-links'); %>
    <div class="site-title">
        <a class="title" href="/" title="Home"><%= config.name %></a>
        <span><%= config.description %></span>
    </div>
    <nav>
        <a href="/" title="Home">Home</a>
        <!-- <a href="/articles/index.html" title="Articles">Articles</a> -->
    </nav>
</header>
<div class="separator header-separator">&nbsp;</div>
