<% if (config.social) { %>
<div class="social-container">
    <% if (config.social.github) { %><a href="https://github.com/<%= config.social.github %>" target="_blank"><span class="fa fa-lg fa-github" aria-hidden="true">&nbsp;</span></a><% } %>
    <% if (config.social.stackoverflow) { %><a href="https://stackoverflow.com/users/<%= config.social.stackoverflow %>" target="_blank"><span class="fa fa-lg fa-stack-overflow" area-hidden="true">&nbsp;</span></a><% } %>
    <% if (config.social.twitter) { %><a href="https://twitter.com/<%= config.social.twitter %>" target="_blank"><span class="fa fa-lg fa-twitter" aria-hidden="true">&nbsp;</span></a><% } %>
    <% if (config.social.linkedin) { %><a href="https://www.linkedin.com/in/<%= config.social.linkedin %>/" target="_blank"><span class="fa fa-lg fa-linkedin" aria-hidden="true">&nbsp;</span></a><% } %>
</div>
<% } %>